<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720656502926-sei22toklfhb8213nsb8itbdptp6q737.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720656502926-sei22toklfhb8213nsb8itbdptp6q737</string>
	<key>API_KEY</key>
	<string>AIzaSyB1WtrqEmzWLrZtCS_1gK142hzDZZaUc0M</string>
	<key>GCM_SENDER_ID</key>
	<string>720656502926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parking</string>
	<key>PROJECT_ID</key>
	<string>wpi-parking-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wpi-parking-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720656502926:ios:0ad7e32d2d2a9ba6ca39df</string>
</dict>
</plist>